<% if (post['date']) { %>
    <div class="<%= class_name %>">
      <time datetime="<%= post['date'] %>" itemprop="datePublished"><%= date(post['date'], config.date_format) %></time>
    </div>
<% } %>
